<header class="bg-surface-primary border-bottom pt-6">
  <div class="container-fluid">
    <div class="mb-npx">
      <div class="row align-items-center">
        <div class="col-sm-6 col-12 mb-4 mb-sm-0">
          <!--Title-->
          <h1 class="h3 mb-0 ls-tight">Admin</h1>
        </div>
      </div>
      <!-- Nav -->
      <ul class="nav nav-tabs mt-4 overflow-x border-0"></ul>
    </div>
  </div>
</header>
<main class="py-6 bg-surface-secondary">
  <div class="container-fluid">
    <!-- Card stats -->
    <div class="row g-6 mb-6">
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card shadow border-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <span class="h6 font-semibold text-muted text-sm d-block mb-2">Patients</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
                  <i class="bi bi-people"></i>
                </div>
              </div>
            </div>
            <div class="mt-2 mb-0 text-lg">
              <a href="admin/usertable">
                <span class="badge badge-pill bg-soft-success text-success me-2">
                  Browse
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card shadow border-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <span class="h6 font-semibold text-muted text-sm d-block mb-2">Hospitals</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-primary text-white text-lg rounded-circle">
                  <i class="bi bi-hospital"></i>
                </div>
              </div>
            </div>
            <div class="mt-2 mb-0 text-lg">
              <a href="admin/hospital-table">
                <span class="badge badge-pill bg-soft-success text-success me-2">
                  Browse
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-12">
        <div class="card shadow border-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <span class="h6 font-semibold text-muted text-sm d-block mb-2">Sensors</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-info text-white text-lg rounded-circle">
                  <i class="bi bi-robot"></i>
                </div>
              </div>
            </div>
            <div class="mt-2 mb-0 text-lg">
              <a href="admin/#">
                <span class="badge badge-pill bg-soft-success text-success me-2">
                  Browse
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
