//@import url(https://therichpost.com/responsivestyle/index.css);
//@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
mat-toolbar {
    justify-content: space-between;
}

.content {
    padding: 32px;
}

.profile-image-toolbar {
    border-radius: 100%;
    margin-right: 8px;
}